{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="stock.css">
<div class="container">
    <h1>STOCK</h1>
    <div class="table-responsive"> 
        <form action="">
            {%csrf_token%}
            <table  class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Ultimo Ingr.</th>
                        <th>Precio Costo</th>
                        <th>Utilidad</th>
                        <th>Precio Publico</th>
                        <th>Acciones</th>
                        <!-- Agrega más columnas según las propiedades de tu modelo Producto -->
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>{{ producto.marca }}</td>
                            <td>{{ producto.codigo }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>{{ producto.ultimoIngreso }}</td>
                            <td>{{ producto.precioCosto }}</td>
                            <td>{{ producto.utilidad}}</td>
                            <td>{{ producto.precioPublico }}</td>
                            <td><div><button class="btn">EDITAR</button><button class="btn">ELIMINAR</button></div></td>
                            <!-- Agrega más celdas según las propiedades de tu modelo Producto -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}